@import url(../styles.css);

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin-y-gap);
}

.header-text h1{
    text-shadow: 3px;
    font-size: 48px;
    font-weight: 500;
    font-family: var(--font-family__header-roboto);
    transition: all 0.3s ease-in-out;
}
.header-text p{
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
    .header-text h1{
        font-size: 32px;
    }
    .header-text p{
        font-size: 14px;
    }
}
